#userPicture {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
#opponentPicture {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.imgUserChoice {
    width: 125px;
    height: 100px;
    border-radius: 20px;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

body {
    background-color: aqua;
}