/* Page Background Color */
body   {
    background-color: rgb(234, 255, 151);
}

/* Box Content */
#battleBox  {
    border: 10px solid black;
    width: 591px;
    display: flex;
    flex-direction: column;
}
/* Battle Screen */
/* Formatting Box */
/*  */
#userVsOpponent {
    display: flex;
    flex-direction: row;
    border-bottom: 10px solid black;
    background-image: url(../images/backgroundlayers/background_woods.png);
    height: 272px;
    width: 591px;
}

/* Idle Animation */
/*  */
#userIdleAnimation img {
    display: none;
}
/* Animation Appear */
/*  */
#userIdleAnimation img:first-child {
    display: block;
} 
/* Light User Animation */
#userLightAnimation img {
    display: none;
}
/* Animation Appear */
#userLightAnimation img:first-child {
    display: block;
} 
/* Block User Animation */
#userBlockAnimation img {
    display: none;
}
/* Animation Appear */
#userBlockAnimation img:first-child {
    display: block;
} 
/* Heavy User Animation */
#userHeavyAnimation img {
    display: none;
}
/* Animation Appear */
#userHeavyAnimation img:first-child {
    display: block;
} 
/* Opponent Image Formatting */
#opponentPictureMain {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    float: right;
}








/* Button Block Heavy Light */
.userChoice button, input[type="submit"]    {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* Attributions Link */





/* See Score Button */
#alertBox_WLD button    {
    display: block;
    height: 25px;
    width: 591px;
    justify-content: right;
    }





/* Unused
/* Bat Animation Idle  */
/* #batAnimationIdle { 
    height: 32px;
    width: 32px;
    background: url("/assets/images/opponents/Bat/Bat_Fly.png");
    background-repeat: no-repeat;
    z-index: 200;
    position: absolute;
} */